.round {
    border: 1px solid;
    border-radius: 10px;
    border-color: #746168!important;
}

.padding{
    padding: 10px;
}

.para{
    padding-left: 15px;
    padding-right: 15px;
}
.light{
    background: white;
}

.comm{
    margin-left: 25px;
    margin-right: 25px;
}

.comments{
    border-radius: 10px;
}