.page-content {
    --background: var(--ion-color-light);
  
    .post-card {
      outline: none;
  
      .read-more-label {
        text-align: right;
      }
    }
  }
  
  .titre{
    // color : red;
    font-size: 18px;
    text-align: justify;
  }
  

  .ico{
    display: flex;
  }

.item{
    display: flex;

}

.petit{
    font-size: .5rem;
}

.read-more{
    font-size: 0.8rem;
}