<ion-header>
  <ion-toolbar class="productHeader">
    <ion-buttons slot="start" color="secondary">
      <ion-back-button class="white" defaultHref="/tabs/tab1"> </ion-back-button>
    </ion-buttons>
<!--     <ion-buttons slot="end" >
      <ion-button color="light" (click)="register()">
        Déjà enregistré ?
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid class="grid1">
      <ion-row class="row1">
          <ion-col>
  
          </ion-col>
      </ion-row>
  
      <ion-row class="row2">
          <ion-col>
  
          </ion-col>
      </ion-row>
  
  </ion-grid>
  
  <ion-slide>
      <div class="contaier-login">
          <ion-grid>
 <!--              <ion-row>
                  <ion-col>
                      <h1 class="secondary">Vérifiez votre addresse mail</h1>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>
  
                          <ion-item class="round">
                              <ion-icon color="primary" name="mail-outline" class="icon-login"></ion-icon>
                              <ion-input name="email"  [(ngModel)]="email" type="email" required placeholder="hello@micheltanga.com"></ion-input>
                          </ion-item>
                          <br />
                          <ion-item class="round"> 
                            <ion-icon color="primary" name="lock-closed-outline" class="icon-login"></ion-icon> 
                            <ion-input [type]="passwordType"  name="password"  [(ngModel)]="password"  clearOnEdit="false"></ion-input>
                            <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)="hideShowPassword()"></ion-icon>
                        </ion-item>
  
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-button  (click)="registerWithEmail()"  type="submit" class="button-primary">
                          Je m'enregistre
                      </ion-button>
                  </ion-col>
              </ion-row> -->
              <div class="displayTable">
                <div class="displayTableCell">
                  <div class="authBlock">
                    <h3>Compte crée avec succès</h3>
                    <div class="formGroup" *ngIf="authService.userData as user">
                      <p class="text-center">Nous avons envoyé un e-mail de confirmation à <strong style="color: #439A43;">{{user.email}}</strong>.</p>
                      <p class="text-center">Veuillez vérifier boite de réception ou dans vos spams et cliquez sur le lien reçu pour vérifier votre adresse e-mail.</p>
                    </div>
                    
                    <!-- Calling SendVerificationMail() method using authService Api -->
                    <div class="formGroup">
                      <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
                        <i class="fas fa-redo-alt"></i>
                        Renvoyer l'e-mail de vérification
                      </button>
                    </div>
                  </div>
                  <div class="redirectToLogin">
                    <span>Aller ?<span style="color: #439A43;" class="redirect" routerLink="/login"> à la connexion </span></span>
                  </div>
                </div>
              </div>

     
          </ion-grid>
      </div>
  </ion-slide>



  
</ion-content>
