<ion-header>
  <ion-toolbar >
    <ion-title>Mes conversations</ion-title>
    <ion-buttons slot="start" color="secondary">
      <ion-back-button class="white" defaultHref="/tabs/tab1"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Rechercher ..." [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"  (keyup)="filterList($event)"></ion-searchbar>



  <ion-list>

    <ion-list-header> Récentes Conversations </ion-list-header>
    <br>
 

    <div >
      <ion-item *ngFor="let item of messages" lines="none" (click)="getChat(item.id)">
        <ion-avatar slot="start">
          <img [src]="item.image || '/assets/images/avatar.png'" />
        </ion-avatar>
        <ion-label>
          <h2>{{item.name}}</h2>
          <h3>{{item.title}}</h3>
          <p>{{item.description}}</p>
        </ion-label>
        <ion-badge slot="end">
          <ion-icon  name="eye-outline"></ion-icon>
        </ion-badge>
      </ion-item>
   </div>
  </ion-list>
</ion-content>
