<ion-header style="background-color: red!important;">
  <ion-toolbar>
    <ion-title>
      Rechercher
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Rechercher ..." [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"  (keyup)="filterList($event)"></ion-searchbar>
  
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of offers; let i = index">

        <ion-card   class="post-card" (click)="newsitem(item, i)">
          <img class="card-search-image" *ngIf="item.photoURL!=''" [src]="item.photoURL" />
          <ion-card-header>
            <ion-card-title class="titre" >{{item.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>

      </ion-col>


      
      
    </ion-row>
    </ion-grid>  

</ion-content>
