.label-end{
    color: #746168;
    font-size: 0.9em;
}

.padder{
    padding-right: 15px;
    margin-top: 5px
}

.label-title{
    color:#746168
}
.label-titles{
    color:green;
}
.pan{
    color:#746168
}

.label-date{
    float: right;
    margin-right: -35%;
}
.new{
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #746168;
    margin: 15px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}


